ion-list {
    padding-top: 0;

    ion-list-header {
        font-size: 1.2em;
    }
}

ion-text {
    text-align: justify;
}

a {
    color: #7044ff;
    display: block;
    width: 100%;
    text-align: center;
}

div {
    background: var(--ion-color-medium, #92949c) !important;
    justify-content: center;
    display: flex;

    ion-img {
        max-width: 8em;
    }
}

p {
    text-indent: 2em;
    margin: 0;
}