.btn-datetime {
    width: 100%;
    border: solid 1px #ededed;
    border-radius: 50px;
    height: 2em;
}

ion-datetime {
    width: 100%;
}

.btn-heart {
    --ripple-color: transparent;
}

ion-slides {
    height: 20em;
    background-color: #ededed;
    --bullet-background-active: white;

    ion-slide {
        height: 20em;
        background-color: #ededed;
    }
}

ion-grid {
    padding: 0 0.7em;
    margin: 0;

    ion-row {
        ion-note {
            font-size: 12px;
        }

        .note-auto {
            font-weight: 150;
        }

        .note-save {
            font-weight: 400;
        }

        padding: 0;
        margin: 0;
    }
}

.preview {
    position: absolute;
    z-index: 2;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 7em;

    .icon-add {
        font-size: 4em;
    }

    .inner-file-input {
        position: absolute;
        top: 0;
        width: 100%;
        font-size: 4em;
        z-index: 2;
        opacity: 0;
    }

    ion-button {
        width: 5em;
        height: 5em;
    }
}



.icon-imges {
    font-size: 4em;
}

.preview-img {
    background: #ededed;
    min-height: 20em;
    min-width: 100%;
}

ion-content {
    ion-button {
        height: 3em;
    }
}

:host {
    ion-item {
        --border-color: white; // default underline color
        --highlight-color-invalid: red; // invalid underline color
        --highlight-color-valid: transparent; // valid underline color
        --highlight-color-focused: transparent;
    }
}

.tools {
    text-align: center;
    width: 100%;
    border-top: solid 1px #ededed;
    border-bottom: solid 1px #ededed;
}