.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2em;
    margin-bottom: 2em;
    width: 100%;

    img {
        width: 100%;
        max-width: 10em;
        text-align: center;
    }
}

ion-title {
    text-align: center;
}

ion-button {
    opacity: 0.8;
    margin-top: 1em;
}

:host {
    ion-item {
        --border-color: #ededed; // default underline color
        --highlight-color-invalid: red; // invalid underline color
        --highlight-color-valid: #bee6be;
        ; // valid underline color
        --highlight-color-focused: transparent;
    }
}

form {
    padding: 0 1em;

    .custom-server-tip {
        display: block;
        text-align: center;
        margin-top: 1em;
    }

    .buttons {
        width: 100%;
        display: flex;
        justify-content: center;

        ion-button {
            width: 50%;
        }
    }
}