<ion-content>
  <ion-toolbar slot="fixed">
    <ion-buttons slot="start">
      <ion-button routerLink="/user/login">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>注册</ion-title>
    <ion-buttons slot="end" style="opacity: 0;">
      <ion-button routerLink="/user/login">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <span class="icon">
    <!-- <img src="../../../assets/icon/favicon.png" alt=""> -->
  </span>
  <ion-item style="margin-top:8em;">
    <ion-label position="floating">用户</ion-label>
    <ion-input type="text" [(ngModel)]="username"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">密码</ion-label>
    <ion-input type="password" [(ngModel)]="password"></ion-input>
  </ion-item>
  <ion-button expand="full" (click)="register()" color="medium">注册</ion-button>
</ion-content>