<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="closeModal()" fill="clear">
        <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button slot="end" fill="clear" (click)="toggleReorderGroup()">
        <ion-icon name="menu" slot="icon-only">
        </ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-reorder-group (ionItemReorder)="doReorder($event)" disabled="false">
    <ion-item lines="full" *ngFor="let photo of photos; let i = index">
      <ion-thumbnail slot="start">
        <img [src]="photo.get('photo').url()">
      </ion-thumbnail>
      <ion-button slot="end" fill="clear" color="light" (click)="setHome(i)">
        <ion-icon name="home" slot="icon-only" [ngClass]="{'home-icon':i === home}">
        </ion-icon>
      </ion-button>
      <ion-button slot="end" fill="clear" (click)="deletePhoto(i)">
        <ion-icon name="trash" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-reorder slot="end"></ion-reorder>
    </ion-item>
  </ion-reorder-group>
</ion-content>