ion-item {
    --inner-padding-start: 0;
    --inner-padding-end: 0;
    --padding-start: 0;
    --padding-end: 2em;

    ion-button {
        height: 100%;
        width: 25%;

        ion-icon {
            font-size: 2.5em;
        }
    }
}

ion-thumbnail {
    margin: 0;
    padding: 0;
    height: 6em;
    width: 6em;
}

.home-icon {
    color: red;
}