ion-slides {
    height: 100%;

    ion-slide {
        ion-content {
            ion-slides {
                width: 100%;
                height: 14em;
                background-color: #ededed;
                --bullet-background-active: white;

                ion-slide {
                    height: 14-em;
                    background-color: #ededed;

                    ion-img {
                        width: 100%;
                    }
                }
            }
        }
    }
}

.tools {
    display: inline-flex;
}

.calendar {
    font-size: 1.2em;
    font-weight: 500;
}

ion-content {
    font-family: 'robot-light';
}

span {
    font-size: 1.2em;
}

ion-chip {
    padding-right: 1.5em;
}

ion-footer {
    box-shadow: -1px -4px 6px -3px #ededed;
    --border: none;
}

.footer-md:before {
    height: 0;
}

::ng-deep code:not([class*="language-"]) {
    background: #f5f5f5;
    border-radius: 2px;
    color: #7044ff;
    ;
    padding: 1px 4px;
}

.fixed-action-btn {
    @media (max-width: 992px) {
        bottom: 16px;
        right: 16px;
    }
}

::ng-deep {
    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 2rem
    }

    h3 {
        font-size: 1.5rem;
    }

    h4 {
        font-size: 1.25rem;
    }

    h5 {
        font-size: 1rem;
    }

    h6 {
        font-size: 0.8rem;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-top: 0px;
        margin-bottom: 10px;
        font-weight: 500;
        line-height: 1.2;
    }

    p {
        font-size: 1em;
    }
}

section:first-of-type {
    @media (min-width: 993px) {
        margin-top: 118px;
    }
}

::ng-deep pre {
    background: #f5f5f5 !important;
    border-color: transparent !important;
    margin-bottom: 24px;
    padding: 13px;
}

.katex-usage,
.katex-textarea,
.pipe-usage,
.pipe-textarea,
.variable-binding,
.variable-textarea {
    width: 49%;

    @media (max-width: 992px) {
        width: 100%;
    }
}

.katex-textarea {
    min-height: 220px;
}

.pipe-textarea,
.variable-textarea {
    min-height: 320px;
}

.katex-textarea,
.pipe-textarea,
.variable-textarea {
    border-radius: 4px;
    margin-top: 8px;
    padding: 8px;
}

.katex-usage,
.pipe-usage,
.variable-binding {
    display: block;
    float: right;
}

/* materialize global css reset for demo puprose */
markdown {
    display: block;
    padding: 0 1em;
    color: #4a4a4a;

    ::ng-deep {
        text-align: left;

        img {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15);
            border-radius: 6px;
            width: 100%;
        }

        blockquote {
            width: 100%;
            margin-left: 0;
            padding: 1px 1em;
            background-color: #1d26480f;
            border-left: 5px solid #00ab6b;

        }

        hr {
            border-top: 2px dashed #dbdbdb;
            border-bottom: none;
        }

        a {
            text-decoration: none;
            font-weight: 400;
            border-bottom: 1px dashed rgba(0, 171, 107, .5);
        }

        table {
            border-spacing: 0;
            border-collapse: collapse;
            margin-bottom: 16px;

            th,
            td {
                padding: 6px 13px;
                border: 1px solid #ddd;

                &[align="left"] {
                    text-align: left;
                }

                &[align="center"] {
                    text-align: center;
                }

                &[align="right"] {
                    text-align: right;
                }
            }

            tr:nth-child(2n) {
                background-color: rgba(0, 0, 0, 0.03);
            }
        }

        ul {
            list-style-type: inherit;
            padding-left: 20px !important;
        }

        ol {
            padding-left: 40px !important;
        }

        li {
            list-style-type: inherit;
        }

        ul ul,
        ol ul {
            list-style-type: circle;
        }
    }
}