<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button slot="icon-only" (click)="dismiss()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title style="text-align: center;">捐赠</ion-title>
    <ion-buttons slot="end" style="opacity: 0;">
      <ion-icon slot="icon-only" name="arrow-back">
      </ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-text>
      <p>
        Card Diary是本人花费一段时间开发的，虽然的UI不是我设计的，但是服务器和云服务还是需要成本的。希望各位大佬在开心使用本应用的时候能支持以下开发者。
      </p>
      <p>
        您的支持是会让本软件越来越好，也可以通过捐赠来咨询如何搭建自己的服务。
      </p>
    </ion-text>
    <div>
      <ion-img src="../../assets/imgs/alipay.jpg"></ion-img>
    </div>
    <ion-text style="text-align: center;width: 100%;display: block;font-size: 1em;">
      感谢大佬的支持。
    </ion-text>
  </ion-card>

</ion-content>