ion-card {
  border-radius: 1em;
  min-width: 19em;
  min-height: 28em;
  font-family: 'robot-light';

  ion-card-header {
    ion-card-title {
      text-align: center;
      font-size: 4em;
    }

    ion-card-subtitle {
      text-align: center;
      font-size: 2em;
      color: black;
    }

    ion-grid {
      ion-row {
        ion-col {
          .card-subtitle {
            color: #ffffff;
          }

          .card-title {
            color: #ffffff;
          }
        }
      }
    }
  }

  ion-card-content {
    ion-grid {
      --ion-grid-columns: 7;
      text-align: right;

      ion-row {
        ion-col {
          font-size: 1.2em;
        }
      }
    }
  }
}

.border-bottom {
  border-bottom: solid 1px black;
}



ion-slide {
  max-width: 16em;
}

.select-year {
  text-align: center;
  margin-top: 2em;
  margin-bottom: 3em;
}

.select-calendar {
  margin-top: 3em;
  text-align: center;

  ion-button {
    width: 10em;
  }
}

ion-button {
  --border-radius: 2em;
  --color: #858c9a;
  --border-color: #858c9a;
  --color-activated: #858c9a;
  --ripple-color: #858c9a;
  --border-width: 1px;
}

ion-item {
  position: fixed;
  bottom: 1em;
  width: 90%;
  --background: transparent;
}

.percentage {
  color: white;
  margin-left: 1em;
  font-size: 0.8em;
}

.switch-button {
  --ripple-color: transparent;
  font-family: 'robot-light';
}

.fill-height {
  min-height: 24em;
}

.btn-color-picker {
  margin-left: 1em;
}