<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button shape="round" fill="clear" (click)="openLogin()">
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button shape="round" slot="end" fill="clear" (click)="switchToCurDate()">
        {{year}}/{{month}}/{{day}}
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="select-year">
    <ion-button fill="clear" color="dark">
      <ion-icon slot="end" name="arrow-dropdown"></ion-icon>
      <ion-datetime (ionChange)="changeYearCalendar()" displayFormat="YYYY" pickerFormat="YYYY" min="1997" max="2020"
        [(ngModel)]="date">
      </ion-datetime>
    </ion-button>
  </div>
  <ion-slides [options]="slideOpts">
    <ion-slide *ngFor="let month of calendars;let j = index" [@viewMode]="viewMode">
      <ion-card class="calendar-content" [hidden]="viewMode == 'card'">
        <ion-card-header>
          <ion-card-title>{{month.get('month')}}</ion-card-title>
          <ion-card-subtitle>{{month.get('month') | monthAbb}}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <ion-grid>
            <ion-row>
              <ion-col *ngFor=" let i of grid[0]" (click)="openDiaryPreview(i)">
                <span [ngStyle]="month|dayCss:i">
                  {{month.get('days')[i]}}</span>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col *ngFor=" let i of grid[1]" (click)="openDiaryPreview(i)">
                <span [ngStyle]="month|dayCss:i">
                  {{month.get('days')[i]}}</span>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col *ngFor=" let i of grid[2]" (click)="openDiaryPreview(i)">
                <span [ngStyle]="month|dayCss:i">
                  {{month.get('days')[i]}}</span>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col *ngFor=" let i of grid[3]" (click)="openDiaryPreview(i)">
                <span [ngStyle]="month|dayCss:i">
                  {{month.get('days')[i]}}</span>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col *ngFor=" let i of grid[4]" (click)="openDiaryPreview(i)">
                <span [ngStyle]="month|dayCss:i">
                  {{month.get('days')[i]}}</span>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>

      <div [hidden]="viewMode == 'calendar'">
        <ion-card class="card-content" [ngStyle]="{'background': month.get('background')}">
          <ion-card-header class="fill-height" (click)="openDiaryList()">
            <ion-card-title class="card-title">{{month.get('month')}}</ion-card-title>
            <ion-card-subtitle class="card-subtitle">{{month.get('month') | monthAbb}}</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <ion-item lines="none">
              <ion-progress-bar [value]="month.get('count') / month.get('total')"
                [buffer]="month.get('count') / month.get('total')" color="light"></ion-progress-bar>
              <div class="percentage">{{month.attributes.count}}/{{month.attributes.total}}</div>
              <ion-button class="btn-color-picker" shape="round" fill="clear" color="light"
                (click)="openColorPicker(j)">
                <ion-icon slot="icon-only" name="color-fill"></ion-icon>
              </ion-button>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </div>
    </ion-slide>
  </ion-slides>

  <div class="select-calendar">
    <ion-button [@viewMode]="viewMode" color="dark" class="circle-button" fill="{{btnFill}}" (click)="switchViewMode()">
      {{btnTips}}
    </ion-button>
  </div>
</ion-content>