<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button shape="round" slot="icon-only" routerLink="/search">
        <ion-icon name="search-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button shape="round" slot="icon-only" fill="clear" routerLink="/setting">
        <ion-icon name="settings-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-down-outline" pullingText="Pull to refresh" refreshingSpinner="circles"
      refreshingText="更新数据" snapbackDuration="380ms">
    </ion-refresher-content>
  </ion-refresher>
  <div class="user-info-card">
    <ion-avatar>
      <ion-img [src]="coverUrl | oss:'rec200'"></ion-img>
    </ion-avatar>
    <ion-card>
      <ion-icon name="create" class="create-icon" color="medium" (click)="openUserInfo()"></ion-icon>
      <ion-card-title color="dark">{{title}}</ion-card-title>
      <ion-card-subtitle color="dark">{{feel}}</ion-card-subtitle>
    </ion-card>
  </div>
  <ion-card>
    <ion-grid class="statistics-card">
      <ion-row>
        <ion-col size="6" style="border-right: solid 1px grey;">
          <ion-row color="dark">{{totalNum}}</ion-row>
          <ion-row>
            <ion-label color="dark">所有日记</ion-label>
          </ion-row>
        </ion-col>
        <ion-col size="6">
          <ion-row color="dark">{{favoriteNum}}</ion-row>
          <ion-row>
            <ion-label color="dark">喜欢的日记</ion-label>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  <ion-card>
    <ion-grid class="photos-card">
      <ion-row>
        <ion-col size="12">
          <ion-item lines="none" routerLink="/gallery">
            <ion-label slot="start">照片 </ion-label>
            <ion-icon name="chevron-forward" slot="end" color="medium"></ion-icon>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <ion-img [src]="photos[0]?.get('photo').url()| oss:'rec400'" (ionError)="displayErrorImg($event)"></ion-img>
        </ion-col>
        <ion-col size="6">
          <ion-row>
            <ion-col size="6">
              <ion-img [src]="photos[1]?.get('photo').url()| oss:'rec200'" (ionError)="displayErrorImg($event)">
              </ion-img>
            </ion-col>
            <ion-col size="6">
              <ion-img [src]="photos[2]?.get('photo').url()| oss:'rec200'" (ionError)="displayErrorImg($event)">
              </ion-img>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="6">
              <ion-img [src]="photos[3]?.get('photo').url()| oss:'rec200'" (ionError)="displayErrorImg($event)">
              </ion-img>
            </ion-col>
            <ion-col size="6">
              <ion-img [src]="photos[4]?.get('photo').url()| oss:'rec200'" (ionError)="displayErrorImg($event)">
              </ion-img>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  <ion-card class="tags-card">
    <ion-segment [(ngModel)]="segment" color="dark">
      <ion-segment-button value="weather" checked>
        <ion-label>天气</ion-label>
      </ion-segment-button>
      <ion-segment-button value="emoji">
        <ion-label>心情</ion-label>
      </ion-segment-button>
    </ion-segment>
    <ion-card-content>
      <span [ngSwitch]="segment">
        <span *ngSwitchCase="'weather'">
          <ion-grid>
            <ion-row style="height:7em;">
              <ion-col *ngFor="let weather of weatherLabels" size="1">
                <ion-row *ngIf="weather.get('count') > 0">
                  {{weather.get('count')}}
                </ion-row>
                <ion-row>
                  <span class="block" [ngStyle]="{height: calHeight(weather.get('count'))}"></span>
                </ion-row>
                <ion-row>
                  <ion-col color="dark">
                    <span class="iconfont {{weather.get('name')}}"></span>
                  </ion-col>
                </ion-row>
              </ion-col>
            </ion-row>
          </ion-grid>
        </span>
        <span *ngSwitchCase="'emoji'">
          <ion-grid>
            <ion-row style="height:7em;">
              <ion-col *ngFor="let emoji of emojiLabels" size="1">
                <ion-row *ngIf="emoji.get('count') > 0">
                  {{emoji.get('count')}}
                </ion-row>
                <ion-row>
                  <span class="block" [ngStyle]="{height: calHeight(emoji.get('count'))}"></span>
                </ion-row>
                <ion-row>
                  <ion-col color="dark">
                    <span class="iconfont {{emoji.get('name')}}"></span>
                  </ion-col>
                </ion-row>
              </ion-col>
            </ion-row>
          </ion-grid>
        </span>
      </span>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-item lines="none" (click)="openTagsManager()">
      <ion-label slot="start">自定义标签</ion-label>
      <ion-icon name="chevron-forward" slot="end" color="medium"></ion-icon>
    </ion-item>
    <p>
      <ion-chip *ngFor="let customLabel of customLabels;let i= index" color="dark" outline="true"
        (click)="openDiaryListByTag(i)">
        <ion-icon name="pricetag-outline" color="dark"></ion-icon>
        <ion-label>{{customLabel.get('name')}} <ion-note style="margin-left: 1em;">
            {{customLabel.get('count')}}
          </ion-note>
        </ion-label>

      </ion-chip>
      <ion-label [hidden]="customLabels.length > 0">请添加自定义标签</ion-label>
    </p>
  </ion-card>
</ion-content>