<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon slot="icon-only" name="refresh"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="getPhotos()">
        <ion-icon slot="icon-only" name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="user-info-card">
    <ion-avatar>
      <ion-img [src]="getAvatar()"></ion-img>
    </ion-avatar>
    <ion-card>
      <ion-icon name="create" style="font-size: 2em;
      position: absolute;
      right: 0.3em;
      top: 0.3em;"></ion-icon>
      <ion-card-title>日记名称</ion-card-title>
      <ion-card-subtitle>今天有什么感想</ion-card-subtitle>
    </ion-card>
  </div>
  <ion-card>
    <ion-grid class="statistics-card">
      <ion-row>
        <ion-col size="6" style="border-right: solid 1px grey;">
          <ion-row>{{totalNum}}</ion-row>
          <ion-row>
            <ion-label>所有日记</ion-label>
          </ion-row>
        </ion-col>
        <ion-col size="6">
          <ion-row>{{favoriteNum}}</ion-row>
          <ion-row>
            <ion-label>喜欢的日记</ion-label>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  <ion-card>
    <ion-grid class="photos-card">
      <ion-row>
        <ion-col size="12">
          <ion-item lines="full">
            <ion-label slot="start">照片</ion-label>
            <ion-button fill="clear" slot="end">
              <ion-icon slot="icon-only" name="more"></ion-icon>
            </ion-button>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row style="height: 12em;">
        <ion-col size="6">
          <ion-img [src]="getPhotoUrl(0)"></ion-img>
        </ion-col>
        <ion-col size="6">
          <ion-row style="height: 6em;">
            <ion-col size="6">
              <ion-img [src]="getPhotoUrl(1)"></ion-img>
            </ion-col>
            <ion-col size="6">
              <ion-img [src]="getPhotoUrl(2)"></ion-img>
            </ion-col>
          </ion-row>
          <ion-row style="height: 6em;">
            <ion-col size="6">
              <ion-img [src]="getPhotoUrl(3)"></ion-img>
            </ion-col>
            <ion-col size="6">
              <ion-img [src]="getPhotoUrl(4)"></ion-img>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  <ion-card>
    <ion-segment [(ngModel)]="segment">
      <ion-segment-button value="weather" checked>
        <ion-label>天气</ion-label>
      </ion-segment-button>
      <ion-segment-button value="emoji">
        <ion-label>心情</ion-label>
      </ion-segment-button>
      <ion-segment-button value="tag">
        <ion-label>标签</ion-label>
      </ion-segment-button>
    </ion-segment>
    <ion-card-content>
      <span [ngSwitch]="segment">
        <span *ngSwitchCase="'weather'">
          <ion-grid>
            <ion-row>
              <ion-col *ngFor="let weather of weatherLabels" size="3">
                <span class="iconfont {{weather.get('name')}}"></span>
                <ion-badge color="light">{{weather.get('count')}}</ion-badge>
              </ion-col>
            </ion-row>
          </ion-grid>
        </span>
        <span *ngSwitchCase="'emoji'">
          <ion-grid>
            <ion-row>
              <ion-col *ngFor="let emoji of emojiLabels" size="3">
                <span class="iconfont {{emoji.get('name')}}"></span>
                <ion-badge color="light">{{emoji.get('count')}}</ion-badge>
              </ion-col>
            </ion-row>
          </ion-grid>
        </span>
        <span *ngSwitchCase="'tag'">
          <ion-grid>
            <ion-row>
              <ion-col *ngFor="let custom of customLabels">
                <ion-chip>
                  {{custom.get('name')}}
                </ion-chip>
                <ion-badge color="light">{{custom.get('count')}}</ion-badge>
              </ion-col>
            </ion-row>
          </ion-grid>
        </span>
      </span>
    </ion-card-content>
  </ion-card>
</ion-content>