<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="updateData()">
        <ion-icon slot="icon-only" name="refresh"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="openSetting()">
        <ion-icon slot="icon-only" name="settings"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="user-info-card">
    <ion-avatar>
      <ion-img [src]="avatar"></ion-img>
    </ion-avatar>
    <ion-card>
      <ion-icon name="create" class="create-icon" (click)="openUserInfo()"></ion-icon>
      <ion-card-title>{{title}}</ion-card-title>
      <ion-card-subtitle>{{signature}}</ion-card-subtitle>
    </ion-card>
  </div>
  <ion-card>
    <ion-grid class="statistics-card">
      <ion-row>
        <ion-col size="6" style="border-right: solid 1px grey;">
          <ion-row>{{totalNum}}</ion-row>
          <ion-row>
            <ion-label>所有日记</ion-label>
          </ion-row>
        </ion-col>
        <ion-col size="6">
          <ion-row>{{favoriteNum}}</ion-row>
          <ion-row>
            <ion-label>喜欢的日记</ion-label>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  <ion-card>
    <ion-grid class="photos-card">
      <ion-row>
        <ion-col size="12">
          <ion-item lines="none">
            <ion-label slot="start">照片</ion-label>
            <ion-button fill="clear" slot="end">
              <ion-icon slot="icon-only" name="more"></ion-icon>
            </ion-button>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row style="height: 12em;">
        <ion-col size="6">
          <ion-img [src]="getPhotoUrl(0)"></ion-img>
        </ion-col>
        <ion-col size="6">
          <ion-row style="height: 6em;">
            <ion-col size="6">
              <ion-img [src]="getPhotoUrl(1)"></ion-img>
            </ion-col>
            <ion-col size="6">
              <ion-img [src]="getPhotoUrl(2)"></ion-img>
            </ion-col>
          </ion-row>
          <ion-row style="height: 6em;">
            <ion-col size="6">
              <ion-img [src]="getPhotoUrl(3)"></ion-img>
            </ion-col>
            <ion-col size="6">
              <ion-img [src]="getPhotoUrl(4)"></ion-img>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  <ion-card style="height: 14em;">
    <ion-segment [(ngModel)]="segment">
      <ion-segment-button value="weather" checked>
        <ion-label>天气</ion-label>
      </ion-segment-button>
      <ion-segment-button value="emoji">
        <ion-label>心情</ion-label>
      </ion-segment-button>

    </ion-segment>
    <ion-card-content style="overflow-x: scroll;min-height: 5em;">
      <span [ngSwitch]="segment">
        <span *ngSwitchCase="'weather'">
          <ion-grid style="width: 200%;">
            <ion-row style="display: flex;
            flex-direction: row;
            align-items: flex-end;height: 8em;">
              <ion-col *ngFor="let weather of weatherLabels" size="1">
                <ion-row>
                  {{weather.get('count')}}
                </ion-row>
                <ion-row>
                  <span class="block" [ngStyle]="{height: calHeight(weather.get('count'))}"></span>
                </ion-row>
                <ion-row>
                  <ion-col>
                    <span class="iconfont {{weather.get('name')}}"></span>
                  </ion-col>
                </ion-row>
              </ion-col>
            </ion-row>
          </ion-grid>
        </span>
        <span *ngSwitchCase="'emoji'">
          <ion-grid style="width: 200%;">
            <ion-row style="display: flex;
            flex-direction: row;
            align-items: flex-end;height: 8em;">
              <ion-col *ngFor="let emoji of emojiLabels" size="1">
                <ion-row>
                  {{emoji.get('count')}}
                </ion-row>
                <ion-row>
                  <span class="block" [ngStyle]="{height: calHeight(emoji.get('count'))}"></span>
                </ion-row>
                <ion-row>
                  <ion-col>
                    <span class="iconfont {{emoji.get('name')}}"></span>
                  </ion-col>
                </ion-row>
              </ion-col>
            </ion-row>
          </ion-grid>
        </span>
      </span>
    </ion-card-content>
  </ion-card>
</ion-content>