.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4em;
    margin-bottom: 2em;

    img {
        width: 40%;
    }
}

ion-title {
    text-align: center;
}

ion-item {
    opacity: 0.8;
}

ion-button {
    opacity: 0.8;
    margin-top: 1em;
}

ion-content {
    // --background: url("../../../assets/imgs/background.png") center/100% 100% no-repeat;
}

:host {
    ion-item {
        --border-color: white; // default underline color
        --highlight-color-invalid: transparent; // invalid underline color
        --highlight-color-valid: transparent; // valid underline color
        --highlight-color-focused: transparent;
    }
}

form {
    padding: 0 1em;
}