<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()">
        <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>日记信息</ion-title>
    <ion-buttons slot="end" style="opacity: 0;">
      <ion-button>
        <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-progress-bar type="indeterminate" color="secondary" *ngIf="upload"></ion-progress-bar>
  <ion-list>
    <ion-list-header>
      <ion-label>日记本封面</ion-label>
    </ion-list-header>
    <ion-item lines="none">
      <ion-img [src]="img | oss:'rec200'" *ngIf="photo==null" (ionError)="displayErrorImg($event)"></ion-img>
      <img [src]="uploadURL" *ngIf="photo != null">
      <ion-button size="default" color="medium" slot="end"> <input class="inner-file-input" type="file"
          accept="image/jpeg, image/png" (change)="uploadUserAvatar($event)">更换图片</ion-button>
    </ion-item>
    <ion-list-header>
      <ion-label>日记名称</ion-label>
    </ion-list-header>
  </ion-list>
  <ion-item lines="none">
    <ion-input [(ngModel)]="title"></ion-input>
  </ion-item>
  <ion-list-header>
    <ion-label>今日感想</ion-label>
  </ion-list-header>
  <ion-item lines="none">
    <ion-textarea [(ngModel)]="feel"></ion-textarea>
  </ion-item>
  <ion-item lines="none">
    <ion-button size="default" color="medium" expand="full" shape="round" style="width: 100%;margin-top: 2em;"
      (click)=" updateUserInfo()">完成
    </ion-button>
  </ion-item>
</ion-content>