form {
    display: inline-flex;
    width: 100%;

    ion-input {
        --background: #ededed;
        width: 100%;
        border-radius: 1em;
        margin-top: 0.4em;
        height: 2.4em;
    }
}

p {
    padding: 0 1em;
}